.login-title {
    font-size: 60px;;
    color: darkblue;
    text-shadow: 4px 4px coral;
    margin-top: -70px;
    margin-bottom: 50px;
}

.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid yellow;
    height: 500px;
    width: 500px;
}