.Header {
    background-color: green;
    padding-left: 10px;
    padding-right: 10px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Header a {
    text-decoration: none;
    color: white;
}

.Header a:hover{
    font-size: 110%;
}

.NavLinks {
    list-style: none;
    display: flex;
}

.NavLinks li {
    margin-right: 20px;
    font-size: 25px;
}

#logo {
    height: 60px;
    width: 70px;
    border-radius: 25%;
    margin: 20px;
}
